<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

</head>
<nav>
    <a href="/">Home</a> |
    <a href="/about/">About</a> |
    <a href="/contact/">Contact</a>
    <a href="/products/">view products</a>
</nav>
<body>
    <h1>About Megamart</h1>
    <p>Megamart is your one-stop shop for all your grocery needs. We offer a wide variety of products at competitive prices.</p>

    
    
    
</body>
</html>